#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.[Bb]ak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.ini
*.sbr
*.xap
*.cfg.xml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*[cC]overage.xml
*[rR]esults.xml
*.[cC]onfig
*.itProject
*.datasource
*.disco
*.wsdl
*.xsd
*.pfx
*.ClientConfig
log.txt.*
db-deltas.sql
svn.info
ClientBin/
installers/
.svn/
build/output/
output/
generatedScripts/
log.txt
version.txt
*.resharper
temp